/* Button component */
body {
    margin: 0;
}

body * {
    color: rgba(0, 0, 0, .8);
}

.btn {
    background: none;
    border: solid 1px #D9D9D9;
    padding: 4px 15px;
    font-size: 14px;
}


.btn-icon-only svg {
    width: 14px;
    height: 100%;
}

.btn-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;


    padding: 0;
    border-radius: 200%;

    box-shadow: 0px 2px 0px 0px rgba(117, 95, 95, 0.04);

}

/* Link component */
.link {
    text-decoration: none;
}

.link:hover {
    color: #1890ff;
}

/* Header component */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid #D9D9D9;
    
    padding: 27px 32px 10px 70px;
}



/* Space component*/
.space {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px
}

.space.space--sm {
    gap: 8px;
}
.space.space--md {
    gap: 16px;
}
.space.space--lg {
    gap: 32px;
}
.space.space--xlg {
    gap: 52px;
}


/* Content */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 78px - 45px);

    max-width: 1440px;
    flex-grow: 1;

    padding: 0 20px;
}


/* Footer  */
.footer {
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 70px ;

}

.footer .link {
    color: black;
}
.footer .link:hover {
    color: #1890ff;
}

/* Bull */
.bull {
    color: rgba(0, 0, 0, .25)
}


/* utility */
.text-gray {
    color: rgba(0, 0, 0, 0.50)
}
